/* ===============================
   Home Slide – Full Width Image
================================ */

.home-slide {
  width: 100vw;
  height: 88vh;
  position: relative;
}

.home-slide-full {
  width: 100%;
  height: 100%;
}

.home-slide-full-image {
  width: 100%;
  height: 100%;
  min-height: 600px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* ===============================
   Tablet
================================ */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .home-slide-full-image {
    min-height: 500px;
  }
}

/* ===============================
   Mobile – HIDE FULL SLIDE
================================ */
@media only screen and (max-width: 767px) {
  .home-slide {
    display: none !important;
  }
}

/* ===============================
   Large Desktop
================================ */
@media only screen and (min-width: 1400px) {
  .home-slide-full-image {
    min-height: 650px;
  }
}

/* ===============================
   Extra Large Desktop
================================ */
@media only screen and (min-width: 1550px) {
  .home-slide-full-image {
    min-height: 750px;
  }
}

.home-neo-tag {
  margin-top: 3px;
  color: #808080;

  &.slide {

  }
}

/* ===============================
   Mobile – HIDE FULL SLIDE
================================ */
@media only screen and (max-width: 767px) {
  .home-neo-tag {
    display: none !important;
  }
}

.neo-tag-smart-city {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #808080;
  font-size: 0.9rem;
}
