.smart-privacy-container {
  h3 {
    font-size: 20px;
    line-height: 2.5rem;
  }

  .smart-privacy-item {

  }

  .smart-privacy-bullet {
    margin-left: 25px;

    p {
      margin-bottom: 0;
    }

    .title {
      font-weight: bold;
    }
  }

  padding-bottom: 30px;
}